.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.contact-form h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px 16px;
  border-radius: 10px;
  border: 1.5px solid #cfd8dc;
  font-size: 15px;
  outline: none;
}

.contact-form textarea {
  height: 120px;
  resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #1e88e5;
}

.contact-form button {
  margin-top: 10px;
  width: 100%;
  padding: 14px;
  background-color: #1e88e5;
  /* BLUE BUTTON */
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  align-items: center;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #1565c0;
}